<%= form_with model: user do |f|%>
    <div>
        <%=f.label :name%>
        <%=f.text_field :name%>
    </div>

    <div>
        <%=f.label :email%>
        <%=f.email_field :email%>
    </div>

    <div>
        <%=f.label :send_due_date_reminder%>
        <%=f.check_box :send_due_date_reminder%>
    </div>

    <div>
        <%=f.label :due_date_reminder_interval, 'Number of days to remind before'%>
        <%=f.number_field :due_date_reminder_interval, min: 0%>
    </div>
   
    <div>
        <%=f.label :time_zone%>
        <%=f.time_zone_select :time_zone%>
    </div>

    <div>
        <%=f.label :due_date_reminder_time, 'Prefered time of the day to recieve reminder'%>
        <%=f.time_select :due_date_reminder_time%>
    </div>
    <div>
        <ul>
            <% user.errors.full_messages.each do |error|%>
                <li><%=error%></li>
            <%end%>
        </ul>
    </div>
    <%=f.submit "save user"%>
<%end%>